pattern{
    background-color: white;
    background-image: linear-gradient(to right,orange,green);
}

::selection{
    color: black;
}

.a {
    transition: 1s; /* will be prefixed */
}


html{
    border-radius: 5px;
}