.sidenav{
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    max-height: fit-content;
    width: 20%;
    padding: 0 1rem;
    &__list{
        list-style: none;
        margin: 1rem 0 0 0;
    }

    &__item{
        margin: 0 0 1rem 0;
    }

    &__link{
        text-transform: uppercase;
        font-family: $font-family-text;
        font-size: 1.4rem;
        text-decoration: none;
        padding: .8rem .6rem;
        color: $color-primary;
        width: 100%;
        display: inline-block;
        transition: background-color .3s ease ,transform .4s ease .2s;
        &:hover{
            background-color: #e7e7e7;
            border-radius: 3px;
            transform: translateX(4px);
        }
    }
}


/*
.sidenav{
    &__list{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: inherit;
        padding-top: 2rem;
        list-style: none;
        border-right: 1px solid transparentize($color-grey-dark-5,.9);

    }

    &__item{

    }

    &__link{
        text-align: right;
        text-decoration: none;
        font-size: $default-font-size;
        font-family: $font-family-text;
        display: inline-block;
        height: 100%;
        width: 100%;
       padding: 0 2rem 1.5rem 0;
        color: $color-black;
        transition: all .3s ease  , transform .5s ease  .3s;
         i{
             margin-right: .7rem;

         }
        &:hover{
            color: $color-primary;
            transform: translateX(4px);
        }

    }

    &__download{
        display: inline-block;
        margin-top: .8rem;
        color: $color-black;
        text-decoration: none;
        font-weight: 700;
        transition: all .4s cubic-bezier(1,0,0,1);
        &:after{
            content: "";
            display: block;
            width: 0px;
            margin-top: .8rem;
            border-bottom: 1px solid $color-black;
            transition: all .4s cubic-bezier(1,0,0,1);
        }

        &:hover{
            &:after{
                width: 100%;
            }
        }
    }
}

.item-with-in-foot{
    margin-top: auto;
}*/
