.sidenav{
    position: relative;
    width: 12%;


    &__list{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: inherit;
        height: 100vh;
        list-style: none;
        border-right: 1px solid $color-grey-dark-5;
    }

    &__item{

    }

    &__link{
        text-decoration: none;
        font-size: $default-font-size;
        font-family: $font-family-text;
        display: inline-block;
        height: 100%;
        padding: 1rem 0;
        width: 100%;
        text-align: left;
        color: $color-black;
        transition: all .3s ease  , transform .5s ease  .3s;
         i{
             margin-right: .7rem;

         }
        &:hover{
            color: $color-primary;
            transform: translateX(4px);
        }

    }

    &__download{
        display: inline-block;
        margin-top: .8rem;
        color: $color-black;
        text-decoration: none;
        font-weight: 700;
        transition: all .4s cubic-bezier(1,0,0,1);
        &:after{
            content: "";
            display: block;
            width: 0px;
            margin-top: .8rem;
            border-bottom: 1px solid $color-black;
            transition: all .4s cubic-bezier(1,0,0,1);
        }

        &:hover{
            &:after{
                width: 100%;
            }
        }
    }
}

.item-with-in-foot{
    margin-top: auto;
}