$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-mat-black:#141414;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2:#f7f7f7;
$color-grey-light-3:#eee;
$color-grey-light-4: #aaa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #54483A;
$color-grey-dark-5: #6D5D4B;


$color-white: #fff;
$color-black: #000;