/*
When using ::before and ::after you'll always need these three, so we're saving two lines of code every time you use this.
*/
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
/*
Uses

// Define animation name, and properties
@include keyframes(fade-out) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
// Add animation to element
.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('fade-out 5s 3');
}
*/

//For transform  prefixes
@mixin css3-prefix($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

/*
USES
div {
   @include css3-prefix(transform, scale3d(2.5, 2, 1.5));
*/


//Vertical alignment
@mixin vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
Uses
div {
   @include vertical-center();
}
*/


@mixin respond($breakpoints){
    @if $breakpoints == phone{
        @media (max-width: 37.5em) { //600px
            @content
        }
    }
    @if $breakpoints == tab-port{
        @media screen and (max-width: 56.25rem) { //900px
            @content
        }
    }
    @if $breakpoints == tab-land{
        @media (max-width: 75em) { //1200px
            @content
        }
    }
    @if $breakpoints == big-desktop{
        @media (min-width: 112.5em) { //1800+
            @content
        }
    }
}