.btn {
    text-align: center;

    &,
    &:link,
    &:visited {
        text-decoration: none;
        box-shadow: 0 1rem 4rem rgba($color-black, .4);
        transition: all .4s;
    }

    &-primary {
        display: inline-block;
        padding: 1.2rem 1.6rem;
        width: 300px;
        color: $color-primary;
        background-color: $color-secondary;
        font-size: 2rem;
        margin: 1.5rem 0;

        &--with-icon {
            i {
                display: inline-block;
                margin-right: 1rem;
            }
        }

        &:hover{
            background-color: $color-grey-light-1;
            box-shadow: 0 2rem 4rem rgba($color-black, .4);
            transform: translateY(-2px);
        }
    }


    &-block {
        display: flex;
        text-transform: uppercase;
        font-size: 1.2rem;
        align-items: center;
        background-color: $color-black;
        margin-right: 1rem;
        padding: .5rem .8rem;
        color: #e7e7e7;
        border-radius: 5px;

        i {
            margin-right: .5rem;
            color: currentColor;
        }

        &:hover {
            transform: translateY(-.2rem);
        }
    }


}