[class ^="heading"]{
    font-family: $font-family-heading;
    text-transform: uppercase;
}

.heading-primary{
    font-size: 3rem;
    text-align: center;
    color: $color-primary;
    span{
        text-transform: lowercase;
        color: currentColor;
    }

    &--sub{
        font-size: 2rem;
        font-family: $font-family-heading;
        margin : 2.5rem 0;
    }
    &--grey{
        color: $color-secondary;
    }
}
.heading-secondary{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 4rem;
    text-shadow: 0 1rem 4rem rgba($color-black,.3);

    &--small{
        font-size: 1.6rem !important;
        font-family: $font-family-text;
        font-weight: 400;
    }
}

.heading-tertiary{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.paragraph{
    font-family: $font-family-text;
    font-size: 1.4rem;
    margin:1.5rem 0 .8rem 0;
    font-weight: 400;
}

.heading--4{
    font-family: $font-family-text;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-primary;
    margin: 1.5rem 0;
}
.heading--5{
    font-family: $font-family-text;
    font-size: 1.2rem;
    color: $color-primary;
    margin: 1.5rem 0;
}