html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    scroll-behavior: smooth
}

@media screen and (max-width: 56.25rem) {
    html {
        font-size: 56.25%
    }
}

@media (max-width: 37.5em) {
    html {
        font-size: 50%
    }
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    background-color: #fdfdfd;
    height: 100vh
}

main {
    padding: 0 2rem
}

[class^="heading"] {
    font-family: "Yatra One", cursive;
    text-transform: uppercase;
    margin: 1rem 0
}

.heading-primary {
    font-size: 3rem;
    text-align: center;
    color: #291843
}

.heading-primary span {
    text-transform: lowercase;
    color: currentColor
}

.heading-primary--sub {
    font-size: 2rem;
    font-family: "Yatra One", cursive;
    margin: 2.5rem 0
}

.heading-primary--grey {
    color: #fdfdfd
}

.heading-secondary {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #291843;
    margin-bottom: 4rem;
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3)
}

.heading-secondary--small {
    font-size: 1.6rem !important;
    font-family: "Barlow", sans-serif;
    font-weight: 400
}

.heading-tertiary {
    font-size: 2rem;
    margin-bottom: 2rem
}

.paragraph {
    font-family: "Barlow", sans-serif;
    font-size: 1.4rem;
    margin: 1.5rem 0 .8rem 0;
    font-weight: 400;
    line-height: 140%
}

.paragraph--bold {
    font-weight: 700
}

.heading--4 {
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #291843;
    margin: 1.5rem 0
}

.heading--5 {
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    color: #291843;
    margin: 1.5rem 0
}

@-webkit-keyframes moveInUp {
    0% {
        -webkit-transform: translateY(10rem);
        transform: translateY(10rem)
    }
    80% {
        -webkit-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes moveInUp {
    0% {
        -webkit-transform: translateY(10rem);
        transform: translateY(10rem)
    }
    80% {
        -webkit-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.u-text-center {
    text-align: center !important
}

.u-disappear {
    opacity: 0
}

.u-appear {
    opacity: 1;
    display: block !important
}

.btn {
    text-align: center
}

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn-primary {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    width: 300px;
    color: #291843;
    background-color: #fdfdfd;
    font-size: 2rem;
    margin: 1.5rem 0
}

.btn-primary--with-icon i {
    display: inline-block;
    margin-right: 1rem
}

.btn-primary:hover {
    background-color: #f9f7f6;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 1.2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    margin-right: 1rem;
    padding: .5rem .8rem;
    color: #e7e7e7;
    border-radius: 5px
}

.btn-block i {
    margin-right: .5rem;
    color: currentColor
}

.btn-block:hover {
    -webkit-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem)
}

.feature-box {
    min-height: 32rem;
    padding: 2rem 1rem;
    color: #291843;
    font-size: 1.6rem;
    border: 1px solid #999;
    border-radius: 3px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .4s ease .1s;
    transition: all .4s ease .1s;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem
}

@media screen and (max-width: 81.25em) {
    .feature-box {
        padding: 2rem 1rem
    }
}

.feature-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4rem;
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    background-color: #291843;
    border-radius: 50%;
    color: #e7e7e7;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center
}

.feature-box__name {
    font-family: "Yatra One", cursive;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 400
}

.feature-box__text {
    font-family: "Barlow", sans-serif;
    font-size: 1.6rem
}

.feature-box:hover {
    background-color: #f7f7f7
}

.tooltip {
    background-color: #000;
    color: #fdfdfd;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-family: "Barlow", sans-serif;
    border-radius: 3px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    overflow: hidden;
    right: 10rem;
    bottom: 16rem;
    -webkit-animation: moveInUp 1s ease;
    animation: moveInUp 1s ease;
    display: none
}

.badge {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: .6rem .8rem;
    border-radius: 5px;
    display: inline-block
}

.badge--feature {
    background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#7ed56f));
    background-image: linear-gradient(to right, #55c57a, #7ed56f);
    font-style: normal;
    color: #fff
}

.row {
    max-width: 114rem;
    margin: 0 auto
}

.row:not(:last-child) {
    margin-bottom: 8rem
}

@media screen and (max-width: 56.25rem) {
    .row:not(:last-child) {
        margin-bottom: 6rem
    }
}

.row::after {
    content: "";
    display: table;
    clear: both
}

.row [class^="col-"] {
    float: left
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem
}

@media screen and (max-width: 56.25rem) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem
    }
}

@media screen and (max-width: 56.25rem) {
    .row [class^="col-"] {
        width: 100% !important
    }
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2)
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3)
}

.row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem)
}

.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4)
}

.row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem)
}

.row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem)
}

.footer {
    padding: 3rem 0;
    background-color: #fdfdfd
}

.footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width: 56.25rem) {
    .footer .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none
}

@media screen and (max-width: 56.25rem) {
    .footer__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.footer__item:not(:last-child) {
    margin-right: 1.5rem
}

.footer__link {
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none
}

.footer__text {
    text-align: right;
    font-family: "Yatra One", cursive;
    font-size: 1.6rem
}

@media screen and (max-width: 56.25rem) {
    .footer__text {
        text-align: center
    }
}

@media screen and (max-width: 56.25rem) {
    .footer .col-1-of-2 {
        margin-bottom: 2rem !important
    }
}

.sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 28%;
    padding: 0 1rem
}

.sidenav::after {
    content: "";
    display: table;
    clear: both
}

@media (max-width: 37.5em) {
    .sidenav {
        width: 100%
    }
}

.sidenav__list {
    list-style: none;
    margin: 1rem 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (max-width: 37.5em) {
    .sidenav__list {
        display: none
    }
}

.sidenav__item {
    margin: 0 0 1rem 0
}

.sidenav__link {
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    padding: .8rem .6rem;
    color: #291843;
    width: 100%;
    display: inline-block;
    -webkit-transition: background-color .3s ease, -webkit-transform .4s ease .2s;
    transition: background-color .3s ease, -webkit-transform .4s ease .2s;
    transition: background-color .3s ease, transform .4s ease .2s;
    transition: background-color .3s ease, transform .4s ease .2s, -webkit-transform .4s ease .2s
}

.sidenav__link:hover {
    background-color: #e7e7e7;
    border-radius: 3px;
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
}

.active {
    background-color: #e7e7e7;
    border-radius: 3px;
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
}

.navigation-toggler {
    display: none;
    background: #2998ff
}

@media (max-width: 37.5em) {
    .navigation-toggler {
        display: block;
        position: relative
    }
}

.navigation-toggler .toogle-btn {
    border-bottom: 1px solid #000;
    width: 3rem;
    position: absolute;
    right: 3rem;
    top: 3rem
}

.navigation-toggler .toogle-btn::before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #000;
    width: 3rem;
    position: absolute;
    top: -.8rem
}

.navigation-toggler .toogle-btn::after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #000;
    width: 3rem;
    position: absolute;
    top: .8rem
}

.navigation-toggler:hover {
    -webkit-transform: scale(2);
    transform: scale(2)
}

.container {
    max-width: 120rem;
    margin: 0 auto
}

.section-hero {
    padding: 5rem 0;
    text-align: center
}

.section-hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%
}

.section-hero .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #291843;
    padding-bottom: 4rem
}

.hero-img {
    height: 100%;
    overflow: hidden
}

@media screen and (max-width: 56.25rem) {
    .hero-img {
        width: 80%;
        height: 60%
    }
}

.section-features {
    padding: 8rem 0
}

.section-version {
    padding: 6rem 0;
    background-color: #291843
}

.version {
    color: #fdfdfd;
    font-family: "Barlow", sans-serif
}

.version__list {
    margin-left: 8rem;
    margin-bottom: 2rem;
    padding: 2rem 0
}

.version__item {
    font-size: 1.8rem
}

.version__item:not(:last-child) {
    margin-bottom: 1rem
}

.whats-new-text {
    font-size: 2rem;
    margin-bottom: 2rem
}

.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 37.5em) {
    .row-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.section-hero .heading-primary.heading-primary--colored {
    background-image: -webkit-gradient(linear, left top, right top, from(#2a1945), to(#fdfdfd));
    background-image: linear-gradient(to right, #2a1945, #fdfdfd);
    color: transparent !important;
    -webkit-background-clip: text
}

.header {
    background-color: #291843;
    width: 100%;
    z-index: 1111111
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 2rem
}

.header__item--logo {
    margin-right: auto
}

.header__link:link, .header__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Yatra One", cursive;
    color: #fdfdfd;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.header__link i {
    font-size: 1.6rem;
    color: #fdfdfd;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.header__link:hover, .header__link:focus, .header__link:hover i {
    color: rgba(253, 253, 253, 0.4)
}

code, .folder-stature {
    display: inline-block;
    font-size: 1.4rem;
    background-color: #e7e7e7;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 3px;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
    margin-left: -2rem;
    margin-bottom: 2rem
}

code::-moz-selection, .folder-stature::-moz-selection {
    background: transparent
}

code::selection, .folder-stature::selection {
    background: transparent
}

.section-how-to-start {
    padding: 1rem 2rem
}

.section-how-to-start .code {
    position: relative
}

.section-how-to-start button {
    border: none;
    background: transparent;
    position: absolute;
    top: 1rem;
    font-size: 1.4rem;
    cursor: pointer
}

.section-how-to-start button:hover {
    background-color: #e7e7e7
}

.section-folder-structure {
    padding: 6rem 0
}

.section-folder-structure .folder-stature {
    line-height: 120%;
    width: 80%
}

.section-folder-structure ul {
    list-style: none
}

.section-folder-structure ul li {
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif
}

.section-folder-structure ul code {
    padding: 1rem;
    font-size: 1.4rem;
    margin-right: 2rem;
    color: #291843;
    width: 100px;
    text-align: center
}

.language-html {
    font-size: 1.6rem;
    width: 80%;
    padding: 1rem 2rem;
    line-height: 150%
}

.token.tag {
    color: #1E6BD6
}

.token.attr-value {
    color: #00b29c
}

.grid-demo {
    margin-bottom: 2rem !important
}

.grid-demo [class^=col] {
    border: 1px solid #2998ff;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: "Barlow", sans-serif
}

.section-mixins {
    padding: 6rem 0
}

.section-mixins .mixin__list {
    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Barlow", sans-serif
}

.section-mixins .mixin__item:not(:last-child) {
    margin-bottom: 4rem
}

.section-mixins .mixin__text {
    margin-bottom: 1rem
}

.section-mixins .mixin__code {
    padding: .3rem .6rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin: 0 .2rem
}

.section-scripts {
    padding: 6rem 0
}

.section-scripts .script__code {
    margin-bottom: 0;
    width: 80%
}

.section-scripts .script__list {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Barlow", sans-serif
}

.section-scripts .script__item {
    margin: 4rem 0
}

.section-scripts .script__text span {
    font-style: italic;
    font-weight: 500;
    margin-left: .3rem
}
