.row-flex{
    display: flex;
    @include respond(phone){
        flex-direction: column;
    }
}
.section-hero{
    .heading-primary{
        background-image: linear-gradient(to right ,lighten($color-primary,.6),$color-secondary);
        color: transparent!important;
        -webkit-background-clip: text;
    }
}

.header {
    background-color: $color-primary;
    width: 100%;
    z-index: 1111111;


    &__list{
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }

    &__item{
        align-items: center;
        padding: 1.5rem 2rem;
        &--logo{
            margin-right: auto;
        }
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            font-size: $default-font-size;
            text-transform: uppercase;
            font-family: $font-family-heading;
            color: $color-secondary;
            transition: all .5s ease;
        }

        i{
            font-size: 1.6rem;
            color: $color-secondary;
            transition: all .5s ease;
        }
        &:hover,
        &:focus,
        &:hover i{
            color: transparentize($color-secondary,0.6);
        }
    }
}


code,
.folder-stature{
    display: inline-block;
    font-size: 1.4rem;
    background-color: #e7e7e7;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 3px;
    transform: translateX(2rem);
    margin-left: -2rem;
    margin-bottom: 2rem;
    &::selection{
        background: transparent;
    }

}

.section-how-to-start{
    padding: 1rem 2rem;
    .code{
        position: relative;
    }

    button{
        border: none;
        background: transparent;
        position: absolute;
        top: 1rem;
        font-size: 1.4rem;
        cursor: pointer;

        &:hover{
            background-color: #e7e7e7;
        }
    }


}

.section-folder-structure{
    padding: 6rem 0;
    .folder-stature{
        line-height: 120%;
        width: 80%;
    }
    ul {
        list-style: none;

        & li{
            font-size: 1.3rem;
            font-family: $font-family-text;
        }
        code{
            padding: 1rem;
            font-size: 1.4rem;
            margin-right: 2rem;
            color: $color-primary;
            width: 100px;
            text-align: center;
        }
    }
}
.language-html{
    font-size: 1.6rem;
    width: 80%;
    padding: 1rem 2rem;
    line-height: 150%;
}
.token.tag {
    color: #1E6BD6;
}

.token.attr-value {
    color: #00b29c;
}

.grid-demo{
    margin-bottom: 2rem!important;
    [class^=col]{
        border: 1px solid #2998ff;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        font-family: $font-family-text;
    }
}


.section-mixins{
    padding: 6rem 0;
    .mixin{

        &__list{
            margin-left: 2rem;
            font-size: 1.4rem;
            font-weight: 700;
            font-family: $font-family-text;
        }
        &__item{
            &:not(:last-child){
                margin-bottom: 4rem;
            }
        }
        &__heading{

        }
        &__text{
            margin-bottom: 1rem;
        }
        &__code{
            padding: .3rem .6rem;
            transform: translateX(0);
            margin: 0 .2rem;
        }
    }
}

.section-scripts{
    padding: 6rem 0;
    .script{

        &__code{
            margin-bottom: 0;
            width: 80%;
        }

        &__list{
            font-size: 1.3rem;
            font-weight: 700;
            font-family: $font-family-text;
        }

        &__item{
            margin: 4rem 0;
        }

        &__text{
            span{
                font-style: italic;
                font-weight: 500;
                margin-left: .3rem;
            }
        }
    }
}

