.header {
    background-color: $color-primary;
    width: 100%;
    z-index: 1111111;


    &__list{
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }

    &__item{
        align-items: center;
        padding: 1.5rem 2rem;
        &--logo{
            margin-right: auto;
        }
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            font-size: $default-font-size;
            text-transform: uppercase;
            font-family: $font-family-heading;
            color: $color-secondary;
            transition: all .5s ease;
        }

        i{
            font-size: 1.6rem;
            color: $color-secondary;
            transition: all .5s ease;
        }
        &:hover,
        &:focus,
        &:hover i{
            color: transparentize($color-secondary,0.6);
        }
    }
}

.row-flex{
    display: flex;

}

.section-how-to-start{
    padding: 1rem 2rem;
    .code{
        position: relative;
    }
    code{
        display: inline-block;
        margin: 1rem 0;
        font-size: 1.4rem;
        background-color: #e7e7e7;
        padding: 1rem 4rem 1rem 1rem;
        border-radius: 3px;
        transform: translateX(2rem);
        margin-left: -2rem;

        &::selection{
            background: transparent;
        }

    }

    button{
        border: none;
        background: transparent;
        position: absolute;
        top: 2rem;
        font-size: 1.4rem;
        cursor: pointer;

        &:hover{
            background-color: #e7e7e7;
        }
    }
}

