.container{
    max-width: 120rem;
    margin: 0 auto;
}

.section-hero{
    padding: 5rem 0;
    text-align: center;
    height: 100vh;
    & .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    .download{
        display: flex;
    }
}


